<div class="pass-active">
	<h2 class="user_sttng_panel_hd">{{LANG change_passwd}}</h2>
	<form class="form pp_sett_form" id="edit-password-settings">
		<?php if(!IS_ADMIN){ ?>
		<div class="pg_mat_input">
			<input required="true" type="password" name="old_password" placeholder="{{LANG old_passwd}}" autocomplete="off">
			<label>{{LANG old_passwd}}</label>
		</div>
		<?php } ?>
		<div class="pg_mat_input">
			<input required="true" type="password" name="new_password" placeholder="{{LANG new_passwd}}" autocomplete="off">
			<label>{{LANG new_passwd}}</label>
		</div>
		<div class="pg_mat_input">
			<input required="true" type="password" name="conf_password" placeholder="{{LANG conf_new_passwd}}" autocomplete="off">
			<label>{{LANG conf_new_passwd}}</label>
		</div>
		<div class="pg_sett_save"><button class="btn btn-main btn-mat btn-mat-raised pp_flat_btn" type="submit">{{LANG save_changes}}</button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
	</form>
</div>
<?php 
include $context['dirname_theme'].'/settings/templates/settings/js/script.html';
 ?>