<div class="priv-active">
	<h2 class="user_sttng_panel_hd">{{LANG acc_privacy_settings}}</h2>
	<form class="form pp_sett_form" id="edit-privacy-settings">
		<div class="pg_mat_input">
			<label>{{LANG p_privacy}}</label>
			<select name="p_privacy" class="pg_select_has_label">
				<option value="2" <?php if($context['me']['p_privacy'] == 2){ ?> selected <?php } ?>>{{LANG everyone}}</option>
				<option value="1" <?php if($context['me']['p_privacy'] == 1){ ?> selected <?php } ?>>{{LANG followers}}</option>
				<option value="0" <?php if($context['me']['p_privacy'] == 0){ ?> selected <?php } ?>>{{LANG nobody}}</option>
			</select>
		</div>
		<div class="pg_mat_input">
			<label>{{LANG c_privacy}}</label>
			<select name="c_privacy" class="pg_select_has_label">
				<option value="1" <?php if($context['me']['c_privacy'] == 1){ ?> selected <?php } ?>>{{LANG everyone}}</option>
				<option value="2" <?php if($context['me']['c_privacy'] == 2){ ?> selected <?php } ?>>{{LANG people_i_follow}}</option>
			</select>
		</div>
		<p class="pg_mat_switch switch">
			<label>
				{{LANG profile_search}}
				<input type="checkbox" <?php if($context['me']['search_engines']){ ?> checked <?php } ?> id="search_engines" name="search_engines">
				<span class="lever"></span>
			</label>
		</p>
		<div class="pg_sett_save"><button class="btn btn-main btn-mat btn-mat-raised pp_flat_btn" type="submit">{{LANG save_changes}}</button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
	</form>
</div>
<?php 
include $context['dirname_theme'].'/settings/templates/settings/js/script.html';
 ?>