<div class="confirm--modal delcomment--modal" style="display: none !important;">
	<div class="confirm--modal--inner">
		<div class="confirm--modal--body">
			<h5>{{LANG delete_comment}}?</h5>
			<p>{{LANG confirm_del_comment}}</p>
		</div>
		<div class="confirm--modal--footer">
			<button class="btn btn-default" data-confirm--modal-dismiss>{{LANG cancel}}</button>
			<button class="btn btn-danger btn-red delete--blog-comment">{{LANG delete}}</button>
		</div>
	</div>
</div>

<div class="confirm--modal delreply--modal" style="display: none !important;">
	<div class="confirm--modal--inner">
		<div class="confirm--modal--body">
			<h5>{{LANG delete_comment}}?</h5>
			<p>{{LANG confirm_del_comment}}</p>
		</div>
		<div class="confirm--modal--footer">
			<button class="btn btn-default" data-confirm--modal-dismiss>{{LANG cancel}}</button>
			<button class="btn btn-danger btn-red delete--comment--reply">{{LANG delete}}</button>
		</div>
	</div>
</div>